Temp/
Assets/Plugins/
Assets/materials.meta
Assets/prefabs.meta
Assets/scripts.meta
Library/cache/
Library/metadata/
Library/ScriptAssemblies/
Library/ShaderCache/
Library/CurrentLayout.dwlt
Library/*.log
Library/PlayerDataCache
Library/LastBuild.buildreport
obj/
.vs/

*log
*.csproj